.TodoEnd {
    width: 425px;
    margin-left: 578px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgba(0, 128, 6, 0.534);
    background-color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}


.TodoEnd button {
    border-radius: 10px;
    border: 2px solid rgba(0, 128, 6, 0.534);
} 

